<style>
    .big_color {
        font-size: 30px;
        color: brown;
    }
</style>    

@model Milestone.Models.CellModel

@{
    //Add image names for game pieces here!
    string[] gamePieces = { "", "", "" };
}

<button class="game-button" type="submit" value="@Model.ID" name="tileNumber">

    @if (!@Model.Visited)
    {
        if (@Model.Flagged)
        {
            <img class="game-button-image" src="~/img/flagged.png" />
        }
        else
        {
            <img class="game-button-image" src="~/img/field.png" />
        }
    }
    else
    {

        if (@Model.State > 0)
        {
            <img class="game-button-image" src="~/img/mine.png" />
        }
        else
        {
            var neighbors = @Model.Neighbors;
            switch (neighbors)
            {
                case 0:
                    <img class="game-button-image" src="~/img/0.png" />
                    break;
                case 1:
                    <img class="game-button-image" src="~/img/1.png" />
                    break;
                case 2:
                    <img class="game-button-image" src="~/img/2.png" />
                    break;
                case 3:
                    <img class="game-button-image" src="~/img/3.png" />
                    break;
                case 4:
                    <img class="game-button-image" src="~/img/4.png" />
                    break;
                default:
                    break;

            }
  
        }

    }
</button>